<!doctype html>
<html>
  <head>
    <title>ETHS-101 Final 2024 by Connor Kim</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <div class="main-content">
      <div class="file-upload-section">
        <div class="header">
          <img
            src="{{ url_for('static', filename='icon.png') }}"
            alt="OpenAI Logo"
          />
          <div class="demo-text">ETHS-101 Final 2024 by Connor Kim</div>
        </div>
        <input
          type="file"
          id="file-upload"
          name="file-upload"
          class="file-upload-input"
          multiple
        />
        <!-- <label for="file-upload" class="file-upload-btn">Attach files</label> -->
      </div>
      <div class="chat-container">
        <div class="messages">
          {% for message in chat_history %}
          <div
            class="message-role {{ 'user' if message.role == 'user' else '' }}"
          >
            {{ message.role.capitalize() }}
          </div>
          <div
            class="{{ 'user-message' if message.role == 'user' else 'assistant-message' }}"
          >
            {{ message.content }}
          </div>
          {% endfor %}
        </div>
        <div class="message-input-container">
          <form action="/chat" method="post">
            <textarea
              name="message"
              placeholder="Enter your message"
              required
            ></textarea>
            <div class="button-group">
              <button type="submit" id="send-btn">&#x2191;</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Check if there are messages to load
        fetch("/get_messages")
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              const chatContainer = document.querySelector(".messages");
              data.messages.forEach((msg) => {
                const roleDiv = document.createElement("div");
                roleDiv.classList.add("message-role");
                if (msg.role === "user") {
                  roleDiv.classList.add("Class");
                }
                roleDiv.textContent =
                  msg.role.charAt(0).toUpperCase() + msg.role.slice(1);
                chatContainer.appendChild(roleDiv);

                const messageDiv = document.createElement("div");
                messageDiv.classList.add(
                  msg.role === "user" ? "user-message" : "assistant-message"
                );
                messageDiv.textContent = msg.content;

                chatContainer.appendChild(messageDiv);
              });
            }
          });

        fetch("/get_ids")
          .then((response) => response.json())
          .then((data) => {
            console.log(
              "Data: ",
              data,
              "Assistant ID: ",
              data.assistant_id,
              "Thread ID: ",
              data.thread_id
            );
          });

        fetch("/get_files")
          .then((response) => response.json())
          .then((data) => {
            populateFiles(data.assistant_files);
          });
      });

      document
        .getElementById("file-upload")
        .addEventListener("change", function (event) {
          const file = event.target.files[0];
          if (!file) {
            return;
          }
          const formData = new FormData();
          formData.append("file", file);

          fetch("/upload", {
            method: "POST",
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                // Update and show the banner
                const banner = document.getElementById("upload-banner");
                banner.textContent = data.message;
                banner.style.display = "block";

                // Hide the banner after 3 seconds
                setTimeout(() => {
                  banner.style.display = "none";
                }, 3000);

                fetch("/get_files")
                  .then((response) => response.json())
                  .then((data) => {
                    populateFiles(data.assistant_files);
                  });
              } else {
                console.error("Upload failed:", data.message);
                // Update and show the banner
                const banner = document.getElementById("upload-banner");
                banner.textContent = data.message;
                banner.style.display = "block";
                banner.style.color = "red";

                // Hide the banner after 3 seconds
                setTimeout(() => {
                  banner.style.display = "none";
                }, 3500);
              }
            })
            .catch((error) => {
              console.error("Error uploading file:", error);
            });
        });
      document
        .querySelector("form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const messageInput = document.querySelector(
            'textarea[name="message"]'
          );
          const message = messageInput.value.trim();
          const chatContainer = document.querySelector(".messages");
          // Append the user's message to the chat container
          if (message) {
            const roleDiv = document.createElement("div");
            roleDiv.classList.add("message-role");
            roleDiv.classList.add("user");

            roleDiv.textContent = "Class";
            chatContainer.appendChild(roleDiv);

            const userMessageDiv = document.createElement("div");
            userMessageDiv.classList.add("user-message");
            userMessageDiv.textContent = message;
            chatContainer.appendChild(userMessageDiv);
          }
          // Clear the message input
          messageInput.value = "";
          // Send the user's message to the server using AJAX
          fetch("/chat", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ message: message }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                const roleDiv = document.createElement("div");
                roleDiv.classList.add("message-role");
                roleDiv.classList.add("Assistant");

                roleDiv.textContent = "Maria Jackson";
                chatContainer.appendChild(roleDiv);

                // Remove the typing indicator
                typingIndicator.remove();

                // Append the assistant's message to the chat container
                const assistantMessageDiv = document.createElement("div");
                assistantMessageDiv.classList.add("assistant-message");
                assistantMessageDiv.textContent = data.message;
                chatContainer.appendChild(assistantMessageDiv);
                // Scroll to the bottom of the chat container
                chatContainer.scrollTop = chatContainer.scrollHeight;
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });

          // Create a typing indicator container
          const typingIndicatorContainer = document.createElement("div");
          typingIndicatorContainer.classList.add("typing-indicator-container");

          // Create a typing indicator
          const typingIndicator = document.createElement("div");
          typingIndicator.classList.add("typing-indicator");
          typingIndicator.textContent = "•";

          // Append the typing indicator to its container
          typingIndicatorContainer.appendChild(typingIndicator);

          // Append the typing indicator container to the chat container
          chatContainer.appendChild(typingIndicatorContainer);

          // Scroll to the bottom of the chat container
          chatContainer.scrollTop = chatContainer.scrollHeight;
        });

        const form = document.querySelector("form");
        const messageInput = document.querySelector('textarea[name="message"]');

        messageInput.addEventListener("keydown", function (event) {
          if (event.key === "Enter" && !event.shiftKey) {
            event.preventDefault();
            form.dispatchEvent(new Event("submit"));
          }
        });
    </script>
  </body>
</html>
